# Ignorar configurações de IDE
.idea/
*.iml
.DS_Store
.vscode/

# Configurações sensíveis
src/backend/.env

# Ignorar arquivos compilados (Dist/Bin)
bin/
*.class
src/backend/sources.txt

# Outros
src/.DS_Store
node_modules/
dist/
.next/
frontend